/*Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a {
  text-decoration-skip-ink: auto;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*переменная шрифтов*/
:root {
  --font-raleway: "Raleway", sans-serif;
}
/*fonts-colors*/

:root {
  --color-actsent: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --color-main_title: #ffffff;
}
/*bg-color*/
:root {
  --bg-color-dark: #2f303a;
  --bg-color-white: #ffffff;
}
/*index-html-header*/
* {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color-white);
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: var(--bg-color-white);
  padding-top: 24x;
}
.header .conteiner {
  border-bottom: 1px solid #ececec;
}
.haeder-logo {
  margin-right: 93px;
}
.header_logo_text-web,
.footer_logo_text-web {
  text-decoration: none;
  color: var(--color-actsent);
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.header_logo_text-studio {
  text-decoration: none;
  color: var(--title-color);
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer_logo_text-studio {
  text-decoration: none;
  color: var(--bg-color-white);
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo_text {
  color: #2196f3;
}
.header-nav {
}

.header-nav-list {
  display: flex;
}
.header-nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-list-item-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav-list-item-link:hover {
  color: var(--color-actsent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contacts {
  margin-left: auto;
}
.header-list_contacts {
  display: flex;
}
.header-list_contacts-item {
  margin-left: 50px;
}
.header-list_contacts-item-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-list_contacts-item-link:hover {
  color: var(--color-actsent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*main*/
.main {
}
.main-section_effect_bussines {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-dark);
}

.main-section_effect_bussines-title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-main_title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}
.main-section_effect_bussines-button {
  border-radius: 4px;
  background: #2196f3;
  display: flex;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--color-main_title);
}

.main_section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main_section-list {
  display: flex;
}
.main_section-item {
}
.main_section-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main_section-text {
  max-width: 270px;
  height: 75px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.products {
  padding-bottom: 94px;
}
.products-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.products-list {
  display: flex;
}
.products-item {
}
.products-item:not(:last-child) {
  margin-right: 30px;
}
.preducts-item-img {
}
.products-item-img {
}
.command {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title_section {
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.command-list {
  display: flex;
}
.command-item {
}
.command-item:not(:last-child) {
  margin-right: 30px;
}
.command-list-img {
}
.command-img {
  margin-bottom: 30px;
}
.command-title {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.command-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-dark);
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-adress {
}
.footer-adress-list {
}
.footer-adress-item {
  margin-bottom: 9px;
}
.footer-adress-link {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-adress-link:hover {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main_title);
}

/*portfolio - main*/
.main_portfolio {
}
.portfolio-section_buttons {
  padding-top: 100px;
  margin-bottom: 56px;
}
.portfolio-section_buttons-list {
  display: flex;
  justify-content: center;
}
.portfolio-section_buttons-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-section_buttons-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  min-width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-section_buttons-button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main_title);
  min-width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: var(--color-actsent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.section_images {
  padding-bottom: 94px;
}
.section_images-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.section_images-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;

  margin-bottom: 30px;
}

.section_images-img {
}
.images_text {
  border: 1px solid #eeeeee;
}
.section_images-title {
  margin-left: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.section_images-text {
  margin-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
